@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  --text-stroke-color: white;
  --text-color-width: 1px;
}

:root[theme="dark"] {
  color: rgba(255, 255, 255, 0.87);
  --text-stroke-color: black;
  background-color: #242424;
}

:root[theme="light"] {
  color: #242424;
  background-color: floralwhite;
}

#app {
  height: auto;
  width: 100%;
  padding-top: 6vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1.main-title {
  font-size: 3.2em;
  line-height: 1;
  -webkit-text-stroke: var(--text-color-width) var(--text-stroke-color);
  text-transform: capitalize;
}
#app > h1.main-title {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}