top-bar {
    position: sticky;
    top: 1%;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: inherit;
    transition: opacity .1s ease-in-out;
    transition: height .5s ease-in-out;
}

:root[theme="light"] top-bar {
    filter: invert(1)
}

:root[theme="light"] top-bar .clear {
  filter: invert(1)
}

top-bar.above {
    z-index: 1;
}

top-bar > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

top-bar > div > * > * {
    height: 100%;
}

.tmdb-attribution {
  /*position: absolute;*/
  font-size: small;
  /*top: 25%;
  right: 1%;*/
  user-select: none;
  align-self: center;
  flex-grow: 1;
}

.tmdb-attribution::before {
  content: 'Powered by';
}

.tmdb-attribution img {
  width: auto;
  height: 0.75em;
}

.tmdb-attribution img:hover {
  filter: brightness(2);
}

@media (max-width: 1900px) {
  .tmdb-attribution {
    display: none;
  }

  top-bar > div {
    justify-content: center;
  }
}