.movie-item {
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.375);
  transition: height .5s ease-in-out .5s;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 4px 2px 2px 2px rgba(127,127,127,0.8);
  min-height: 100%;
}

.movie-item div {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.movie-item label {
  font-weight: 600;
  width: 40%;
  text-align: start;
}

.movie-item span {
  font-style: italic;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 25ch;
  white-space: nowrap;
}

.movie-item .poster img {
  width: 100%;
  height: auto;
}

.movie-item-line {
  display: flex;
  justify-content: space-between;
  /*height: 1.5em;*/
}

.poster {
  height: 70%;
  cursor: pointer;
  aspect-ratio: 1 / 1.5;
}

movie-card.adult .movie-item-line.poster img.adult {
  filter: blur(12px) brightness(0.2);
  transition: all 100ms ease-in-out;
}

movie-card.adult .movie-item-line.poster img.adult:hover {
  filter: none;
}

/*
https://medium.com/@mjtweaver/build-an-accordion-without-javascript-e97d319ca371
*/

div.accordion {
  display: inline-block;
}
.accordion label {
  letter-spacing: .3rem;
  cursor: pointer;
}
.accordion input {
  display: none;
}

.accordion span {
  display: none;
  text-align: justify;
  white-space: normal;
}

.accordion input:checked ~ span {
  display: inline-block;
  font-style: initial;
}