<div class="movie-item">
    <div class="movie-item-line poster">
        <img srcset="" alt="" loading="lazy" title="Click for movie details" />
    </div>
    <div class="movie-item-line" role="movie-title">
        <label>Title</label>
        <span></span>
    </div>
    <div class="movie-item-line" role="movie-release-date">
        <label>Released</label>
        <span></span>
    </div>
    <div class="movie-item-line" role="movie-genres">
        <label>Genres</label>
        <span></span>
    </div>
    <div class="movie-item-line" role="movie-rating">
        <label>Vote average</label>
        <span></span>
    </div>
    <div class="overview-container">
        <div class="overview-text"></div>
    </div>
</div>