item-grid {
    width: 80vw;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item-grid {
    display: grid;
    grid-template-rows: auto;
    row-gap: 2em;
    column-gap: 2em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    transition-property: all;
    transition-duration: 250ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
}

.item-grid:not(:has(> *))::after {
	content: 'Nothing to show';
	font-size: xx-large;
	grid-column: 1 / -1;
	margin-top: 35vh;
}

@media only screen and (max-width: 599px) {
    .item-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* extra margin for last row movie-card items to compensate for movie-card div box-shadow */
    .item-grid > movie-card:nth-child(n):nth-last-child(-n+2) ~ movie-card {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 600px) { 
    .item-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-grid > movie-card:nth-child(n):nth-last-child(-n+2) ~ movie-card {
        margin-bottom: 8px;
    }
 }

@media only screen and (min-width: 900px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-grid > movie-card:nth-child(2n):nth-last-child(-n+3) ~ movie-card {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .item-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .item-grid > movie-card:nth-child(3n):nth-last-child(-n+4) ~ movie-card {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 1800px) {
    .item-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .item-grid > movie-card:nth-child(4n):nth-last-child(-n+5) ~ movie-card {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 1900px) {
    .item-grid {
        grid-template-columns: repeat(5, 1fr);
    }

    /* https://keithclark.co.uk/articles/targeting-first-and-last-rows-in-css-grid-layouts/ */
    .item-grid > movie-card:nth-child(5n):nth-last-child(-n+6) ~ movie-card {
        margin-bottom: 8px;
    }
}