search-bar {
    display: block;
    height: 100%;
    /*width: 100%;*/
    width: 60vw;
}

.search-bar {
    display: inline-flex;
    justify-content: flex-start;
    /*position: fixed;
    top: 1vh;
    left: 0;*/
    width: 100%;
    min-height: 100%;
}

.search-bar input {
    /*width: 30%;*/
    width: inherit;
    font-size: x-large;
    padding-right: 1em;
}

.search-bar button {
    font-size: medium;
    cursor: pointer;
}

.clear {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
    font-size: x-large;
    transform: translateX(-0.85em);
    cursor: pointer;
}